<div id="login-status">
  <%- if signed_in? -%>
    Logged in as
    <%= link_to current_user.email, user_path(current_user) %>
    :
    <%= link_to "Log out", logout_path %>
  <%- else -%>
    <%= link_to "Log in", new_session_path %>
    :
    <%= link_to "Sign up", new_user_path %>
  <%- end -%>
</div>
