<ul class="path">
  <li class="link"><%= link_to "Forums", forums_path %></li>
  <%- if @forum -%>
    <%- if @topic -%>
      <li class="link"><%= link_to @forum.title, forum_path(@forum) %></li>
      <li><%= link_to @topic.title, topic_path(@topic) %></li>
    <%- else -%>
      <li><%= link_to @forum.title, forum_path(@forum) %></li>
    <%- end -%>
  <%- end -%>
</ul>
