<% if show_admin_content? %>
  Admin: <%= link_to "New Forum", new_forum_path %>
<% end %>

<table>
  <tr>
    <th>Forum</th>
    <th>Topics</th>
  </tr>
  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.title, forum_path(forum) %></td>
      <td><%= forum.topics.size %></td>
    </tr>
  <% end %>
</table>
