body, th, td { 
  font-family: tahoma,helvetica,arial,sans-serif; font-size:14px;
}
body { margin: 0px; }
.head {
  background-color: #DFDFDF; border-bottom: 1px solid black;
  padding-bottom: 3px;
}
.head #site-name {
  padding-left: 8px; padding-top:5px; letter-spacing: -3px;
  font-size:42px; float: left; font-family: arial; line-height: 42px;
  text-transform: uppercase;
}
.head #site-name a { text-decoration:none;color:#33F; }
.head #login-status { float:right; padding: 5px; padding-right: 10px; }
.menu { padding:3px; }
.menu a {
  margin-left: 2px; margin-right: 2px; text-decoration: none;
  color: #000080; display: block; float: left;
  padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:3px;
}
.menu a.active {
  background-color: #CCE; border: 1px solid #AAC;
  padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:2px;
}
#menu1 {
  background-color: #D8D8D8; border-bottom: 1px solid #222; padding:3px;
}
#menu2 {
  background-color: #D0D0D0; border-bottom: 1px solid #444; padding:3px;
}

.content { margin:10px; }

#flash_notice {
  background-color: #CFC; border: 1px solid #ACA; padding:5px; margin:5px;
}
#flash_error {
  background-color: #FCC; border: 1px solid #CAA; padding:5px; margin:5px;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid #777; padding-left: 3px; padding-right: 3px;
}

a { text-decoration: none; }
/*a:hover { background-color: #CCE;}*/