.priest       {color: #8C8C8C;}
.warrior      {color: #634627;}
.mage         {color: #0F7499;}
.druid        {color: #BD5800;}
.shaman       {color: #001C70;}
.hunter       {color: #507123;}
.warlock      {color: #544096;}
.death_knight {color: #6E1121;}
.rogue        {color: #ADA200;}
.paladin      {color: #BC105B;}

/*.priest       {color: #000000;}
.warrior      {color: #C79C6E;}
.mage         {color: #69CCF0;}
.druid        {color: #FF7D0A;}
.shaman       {color: #2459FF;}
.hunter       {color: #ABD473;}
.warlock      {color: #9482C9;}
.death_knight {color: #C41F3B;}
.rogue        {color: #FFF569;}
.paladin      {color: #F58CBA;}
*/